/* css for form button */
.btn-submit {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

/* for body background color */
body{
background-color: beige;
}


.heading{
    padding: 20px;
    background-color: orangered;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-family: monospace;
}

input, label, option, p, td, tr{
    font-size: 18px;
    color:rgb(244 48 48 / 40%);
    font-weight: bold;
}

td{
    background-color: maroon;
    color: wheat;
    text-align: center;
    text-transform: capitalize;
}
